@import "tailwindcss";

@font-face {
  font-family: "CustomFont-1";
  src: url("/src/assets/Lobster/Lobster-Regular.ttf") format("woff2");
  font-weight: 110px;
  font-height: 30px;

  font-style: normal;
}
@font-face {
  font-family: "CustomFont-2";
  src: url("/src/assets/Inter/Inter_24pt-Regular.ttf") format("woff2");
  /* font-weight: 110px;
  font-height: 30px; */

  font-style: normal;
}

.banner {
  background-image: url("/src/assets/inbox/inbox1.png");
  background-repeat: no-repeat;
  background-size: contain; /* Ensures the image fits within its container */
  background-position: bottom right; /* Anchors the image to the bottom-right corner */
  background-clip: padding-box; /* Ensures clipping is consistent (optional) */
}
